// first backGrounds
$first-main-background: hsl(222, 26%, 31%);
$first-toggle-background: hsl(223, 31%, 20%);
$first-screen-background: hsl(224, 36%, 15%);
// first keys
$first-delete-reset: hsl(225, 21%, 49%);
$first-delete-reset-shadow: hsl(224, 28%, 35%);
$first-equel-toggle: hsl(6, 63%, 50%);
$first-equel-toggle-shadow: hsl(6, 70%, 34%);
$first-key-background: hsl(30, 25%, 89%);
$first-key-shadow: hsl(28, 16%, 65%);
// first text
$first-Very-dark-grayish-blue: hsl(221, 14%, 31%);

// start second Theme

// second backGrounds
$second-main-background: hsl(0, 0%, 90%);
$second-toggle-background: hsl(0, 5%, 81%);
$second-screen-background: hsl(0, 0%, 93%);
// second keys
$second-delete-reset: hsl(185, 42%, 37%);
$second-delete-reset-shadow: hsl(185, 58%, 25%);
$second-equel-toggle: hsl(25, 98%, 40%);
$second-equel-toggle-shadow: hsl(25, 99%, 27%);
$second-key-background: hsl(45, 7%, 89%);
$second-key-shadow: hsl(35, 11%, 61%);
// second text
$second-Very-dark-grayish-blue: hsl(60, 10%, 19%);

// start third Theme

// third backGrounds
$third-main-background: hsl(268, 75%, 9%);
$third-toggle-key-screen-background: hsl(268, 71%, 12%);

// third keys
$third-delete-reset: hsl(281, 89%, 26%);
$third-delete-reset-shadow: hsl(285, 91%, 52%);
$third-equel-toggle: hsl(176, 100%, 44%);
$third-equel-toggle-shadow: hsl(177, 92%, 70%);
$third-key-background: hsl(268, 47%, 21%);
$third-key-shadow: hsl(290, 70%, 36%);
// third text
$third-light-yellow: hsl(52, 100%, 62%);
$third-very-dark-blue: hsl(198, 20%, 13%);
